/**
Meghan Andrews - 10/2/1015

This is the styles sheet for Plantly. It follows a woodsy color schema of greens, browns, and purple for a pop of color.
All pages in website should link to this sheet.
*/

/* -- Typography -- */
h1 {
    font: bold georgia, serif;
    color: #4A5D23; 
    text-align: center;
    margin: auto;
    padding-top: 20px;
}


h3, h2 {
    font: bold georgia, serif;
    color: #5D4E37;
}

form h3 {
    color: #4A5D23; 
    border-bottom: 2px solid #8B7D6B;
    margin-bottom: 20px;
}

.ital {
  font-style: italic;
  text-align: center;
  color: #5D4E37;
}

img{
  float: none;
  margin: 5px;
}


/* -- Navigation & Links -- */
a {
    color: #4A5D23; 
    font-size: 18px;
    font-weight: bold;
    padding: 12px
}

.header a:hover {
    background-color: #D2B48C;
    color: #2F3D1A;
}

.header a.active {
    background-color: #4A5D23;
    color: #F5F3E7;
}

a:visited {
  color: green;
}

/* -- Layout Components -- */
.header {
  overflow: hidden;
  padding: 0px 10px;
  background: #E8E2D4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background: #f3f2f0;;
  padding: 10px 10px;
  margin-top: 20px;
  align-content: center;
}

footer {
    background: #8B7D6B;
    color: #F5F3E7;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

/* -- Tables -- */
table {
    border-spacing: 15px;
    margin: 20px 0;
}

table td {
    background: #F5F3E7; 
    border: 2px solid #A0916C; 
    padding: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

/* -- Forms & Inputs -- */
form {
    background: #F0EDD4; 
    border: 2px solid #9CAF88;
    padding: 25px;
    margin: 20px 0;
}

label {
    font-weight: bold;
    color: #5D4E37;
    font-family: georgia, serif;
}

/* -- Unique Ids -- */
#logo {
  margin-left: 0px;
}

/* -- Responsive Design -- */
@media only screen and (max-width: 600px) {
  .link{
   float: none;
   display: block;
   text-align: left; 
  }

  .header {
    float: none;
  }

  .card{
    font-size: 30px;
  }

  img {
    max-width: 10%;
    height: auto;
  }
  
}